* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.title {
  display: flex;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  color: #3c4750;
  background-color: #cadcea;
}

table,
td,
th {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #333;
}
table a,
td a,
th a {
  text-decoration: none;
  border-radius: 7px;
  padding: 0.1rem 1rem 0.1rem 1rem;
}
table a.delete,
td a.delete,
th a.delete {
  color: #685645;
  background-color: #eccfcf;
}
table a.detail,
td a.detail,
th a.detail {
  color: #685645;
  background-color: #e0e0df;
}

td,
th {
  padding: 1rem;
}

th {
  background-color: rgba(221, 221, 221, 0.896);
}

section.Table {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=purchasing.css.map */