@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.loginBox {
  /* position: absolute; */
  background: #ffffff;
  border: 2px solid #f3f5e3;
  padding-bottom: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.loginBox section.top h2 {
  padding: 2rem 6.5rem 2rem 6.5rem;
  color: #595f3c;
}

section.loginBox section.accountBox {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
}

section.loginBox section.accountBox p {
  padding-right: 2rem;
  color: #595f3c;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

section.loginBox section.accountBox input {
  width: 377px;
  height: 49px;
  left: 491px;
  top: 358px;
  background: #ffffff;
  border: 1.5px solid #f3f5e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.loginBox section.passwordBox {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

section.loginBox section.passwordBox p {
  padding-right: 2rem;
  color: #595f3c;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

section.loginBox section.passwordBox input {
  width: 377px;
  height: 49px;
  left: 491px;
  top: 358px;
  background: #ffffff;
  border: 1.5px solid #f3f5e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.loginBox section.loginBtn,
section.loginBox section.registerBtn {
  padding-top: 1.5rem;
}

section.loginBox section.loginBtn button,
section.loginBox section.registerBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 87px;
  height: 45px;
  color: #595f3c;
  background: #eff1e5;
  border-radius: 15px;
  border: none;
  /*去掉邊框*/
  margin: auto;
}

/*# sourceMappingURL=style.css.map */