* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section.takeaway {
  padding: 12px 12px;
  margin: 0 auto;
  width: 640px;
  text-align: center;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
th,
td {
  padding: 0.25rem;
}
table {
  width: 100%;
}
h2 {
  padding: 12px;
}
.blue {
  background-color: #cadcea;
}
.red {
  background-color: #fce9d6;
}
.btn {
  border: none;
  padding: 6px;
  margin: 100px;
  border-radius: 15px;
}
.lightred {
  background: #faefe4;
}
