* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section.takeaway {
  padding: 12px 12px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
th,
td {
  padding: 0.25rem;
}
table {
  width: 100%;
}
h2 {
  padding: 12px;
}
.blue {
  background-color: #cadcea;
}
.red {
  background-color: #fce9d6;
}
.btn {
  border: none;
  padding: 6px;
  border-radius: 15px;
}
.lightblue {
  background: #e7f0f7;
}
.lightred {
  background: #faefe4;
}
.btnmini {
  border: none;
  padding: 2px 8px;
  margin: 0 12px;
  border-radius: 7px;
}
.grey {
  background: #e0e0df;
}
.pink {
  background: #eccfcf;
}
